
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <link href="{{ base_url }}/static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom scripts for all pages-->
        <base href="{{ base_url }}" />
        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12 col-md-12"</div>
                  {% block body %}
                  {% endblock %}
              </div>
          </div>
      </div>
    </body>
<script type="text/javascript">
  $(document).ready(function(){
      {% block onJQready %}{% endblock %}
  });
</script>
</html>
